<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="ftp-discover-root" value="ftp://ftp.datasus.gov.br/dissemin/publicos"/>
		<add key="working-directory" value="c:\datasus"/>
		<add key="ignore" value="uploads|tabwin|tabnet"/>
		<add key="ftp-file-cache-time" value="26"/><!-- horas -->
	</appSettings>
</configuration>
