<?xml version="1.0" encoding="utf-8" ?>
<datasus-config>

  <!-- nó opcional, apenas exibe possíveis valores-->
  <define-transform>
    <dbase>
      <types>
        <type name="mssql"/>
        <type name="mysql"/>
        <type name="postgree"/>
      </types>
    </dbase>
    <outputs>
      <types>
        <type name="table" />
        <type name="json" />
        <type name="xml" />
        <type name="csv"/>
      </types>
    </outputs>
  </define-transform>
  
  <repositories>
    <repository name="SIHU">
      <description>
        <![CDATA[...]]>
      </description>
      <ftplink>
        <![CDATA[...]]>
      </ftplink>
      <localsource>
        <![CDATA[]]>
      </localsource>
      <filters>
        <filter name="UF" value=""/>
        <filter name="Month" value=""/>
        <filter name="Year" value="" />
        <filter name="Prefix" value=""/>
        <filter name="range" type="Year" min="2015" max="2018" />
        <filter name="range" type="Month" min="01" max="12" />
      </filters>
      <filelist>
        <file name="" />
      </filelist>
      <transform output="table" id="to_mssql">
        <dbase type="mssql">
          <connection-string><![CDATA[]]></connection-string>
          <!--
          $clean = nome tratado, é removido UF, Mes e Ano do nome (caso possua) - útil para unificar dados de vários arquivos em uma tabela*
          $raw = nome do arquivo como veio pelo repositorio
          xxxx = (nome sem diretiva de apelido
          -->
          <table prefix="tb_" name="$raw">
            <insertion mode="auto-update"/> <!-- create -->
            <map>
              <col from="" to="" columntype=""/>
              <add name="" value=""/>
              <add name="$hash" />
              <add name="$date" />
              <add name="$source"/>
              <col from="">
                <case>
                  <when value="" then=""/>
                  <default then="" />
                </case>
              </col>
              <ignore name=""/>
            </map>
          </table>
          <commands>
            <!--$table = nome da tabela-->
            <before>
              <cmd>
                <![CDATA[]]>
              </cmd>
            </before>
            <after>
              <cmd>
                <![CDATA[]]>
              </cmd>
            </after>
          </commands>
        </dbase>
      </transform>
    </repository>
  </repositories>
  
</datasus-config>